<%- include('partials/navBar') %>
<div class="ui grid">
  <%  posts.forEach(post=> { %>

  <div class="column four wide">
    <a class="red card card-item" href="/post/ <%=post._id %>">
      <div class="ui card ">
        <div class="content">
          <div class="center aligned header"><%= post.title %></div>
          <div class="center aligned description">
            <p><%= post.description %></p>
          </div>
        </div>
        <div class="extra content">
          <div class="center aligned author">
            <img class="ui avatar image" src="https://semantic-ui.com/images/avatar/small/jenny.jpg">
            <%= post.userId.firstName + ' ' + post.userId.lastName %>
          </div>
        </div>
      </div>
    </a>

  </div>

  <% }) %>
</div>