<%- include("header.ejs")  %>

<body>

  <div class="ui pointing menu">
    <a class="item <%= path === '/home' ? 'active': '' %>" href="/home">
      Home
    </a>
    <a class="item <%= path === '/about' ? 'active' : '' %>" href="/about">
      About Us
    </a>
    <% if(isAuthenticate) { %>
    <a class="item <%= path === '/blogpost' ? 'active' : '' %>" href="/blogpost">
      Blog Post
    </a>
    <a class="item <%= path === '/delete' ? 'active' : '' %>" href="/delete">
      <i class="trash icon"></i> Delete User
    </a>

    <% } %>
    <a class="item <%= path === '/posts' ? 'active' : '' %>" href="/posts">
      Posts
    </a>
    <div class="right menu">
      <% if(!isAuthenticate) { %>
      <a class="item <%= path === '/login' ? 'active' : '' %>" href="/login">
        Log In
      </a>
      <a class="item <%= path === '/signup' ? 'active' : '' %>" href="/signup">
        SignUp
      </a>

      <% } else { %>

      <a class="item" href="/logout">
        LogOut
      </a>
      <% } %>

    </div>
  </div>

</body>